body {
    padding-top: 30px;
    padding-bottom: 30px;
}

input {
	display:block;
	clear:both !important;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

a.navbar-brand {
	color:#00acea !important;
}

a.navbar-brand:hover {
	color:#fff !important;
	background-color:#00acea !important;
}

.row {
	margin-bottom:10px !important;
}
