body {
    padding-top: 30px;
    padding-bottom: 30px;
}

input {
	display:block;
	clear:both !important;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

a.navbar-brand {
	color:#00acea !important;
}

a.navbar-brand:hover {
	color:#fff !important;
	background-color:#00acea !important;
}

.row {
	margin-bottom:10px !important;
}

.ui-datepicker {
    font-size: .95em;
}

.ui-datepicker-month, .ui-datepicker-year {
    color:black;
}

#dob-error,
#email-error {
    position:absolute;
    background: red;
    color:#fff;
    padding:5px 10px;;
    border-radius: 5px;
    margin-top:3px;
}

.required:after {
    content:" *";
    color:red;
    font-size:1.2em;
}